body {
    background-color: #f0ece4;
}

.asana {
    font-size: 20px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Add space between logo and text */
}

.brand-text {
    
    font-weight: bold;
}
.button1 {
    background-color: black !important;
    color: white !important;
    border: none;
    padding: 4px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.container-fluid {
    background-color: #f0ece4;   
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height to your preference */
}

.centered-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height to your preference */
}


.sun {
    font-size: 50px;
    font-weight: normal; 
    position: static;
    top: 130px;  
}

.nokia {
  margin-right: 120px;
}

.logo {
  margin-left: 5px; /* Adjust the margin value as needed */
}

.nokia .button1:hover {
  background-color: orange;
}

.moon {
    position: relative;
    bottom: 350px;
    font-size: 20px;
    font-weight: normal;
}

.navbar {
    position: fixed; /* Make the navbar fixed at the top */
    top: 0; /* Stick it at the top of the viewport */
    width: 100%; /* Make the navbar full width */
    z-index: 1000; /* Ensure it's on top of other elements */
}


.centered-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height to your preference */
    position: static;
    right: 50px;
    gap: 10px;
}

.centered-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height to your preference */
    position: static;
    right: 50px;
}


.mithu {
    background-color: black !important;
    color: white !important;
    border: none;
    padding: 13px 25px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    bottom: 720px;
}

.ramanan {
    background-color: #f0ece4;
    padding: 10px 20px;
    position: relative;
    bottom: 720px;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
  


  .image-box left-image {
    gap: 10px;
  }

  .image-box left-image1 {
    gap: 10px;
  }

  .image-box right-image {
    gap: 10px;
  }

  .image-box right-image1 {
    gap: 10px;
  } 

.one {
    border-radius: 15px;
    gap: 10px;
    position: relative;
    bottom: 920px;
}

.video-box {
    border-radius: 15px;
    gap: 10px;
    position: relative;
    bottom: 850px;
}

.three {
    border-radius: 15px;
    gap: 10px;
    position: relative;
    bottom: 920px;
    left: 20px;
}

.three1 {
    border-radius: 15px;
    gap: 20px;
    position: relative;
    bottom: 650px;
    left: -180px;
}

.three2 {
    border-radius: 15px;
    gap: 20px;
    position: relative;
    bottom: 920px;
    right: -180px;
}

.three3 {
    border-radius: 15px;
    gap: 20px;
    position: relative;
    bottom: 650px;
    right: 15px;
}

.two {
    border-radius: 15px;
    gap: 10px;
    position: relative;
    bottom: 920px;
}

.jailer {
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    padding: 60px;
    position: relative;
    bottom: 790px;
}

.image-table {
    display: table;
    width: 100%;
    border-spacing: 20px; /* Add gap between images */
    gap: 10px;
    position: relative;
    bottom: 900px;
}

.image-row {
    display: table-row;
    position: relative;
    left: 580px;
    top: -190px;
    gap: 20px;
    align-items: center;
}

.image-cell {
    display: table-cell;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.beast {
    font-size: 18px;
    font-weight: 200;
    background-color: white;
    padding: 60px;
    position: relative;
    bottom: 870px;
}
.comali {
    position: relative;
    bottom: 1190px;
    margin: 150px;
}

.comali1 {
    position: relative;
    bottom: 1350px;
    margin: 150px;
}


.iphone {
    font-size: 48px;
    text-align: center;
    position: relative;
    bottom: 1250px;   
}

.pen {
position: relative;
left: 28px;
}

 .pencil {
position: relative;
bottom: 1200px;
left: 400px;
color: black;
}

.carousel slide {
    position: relative;
    top: 4800px;
}
